.calendar {
  width: 70%;
  max-height: 100%;
  background: #ffffff;
  padding: 0.5em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}

.head {
  max-width: 30px;
}

.row {
  text-align: end;
  border: 1px solid;
  height: 60px;
  padding: 0 10px;
  cursor: pointer;
}

.row:hover {
  background: #eceaea;
}

.selected {
  background: #a0f3c3;
  border-radius: 50%;
  pointer-events: none;
  font-weight: 700;
}
